<h1>Edit Goal</h1>

<form action="<%= goal_url(@goal) %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="hidden"
    name="_method"
    value="patch">

  <label for="name">Name: </lable>
  <input type="text"
    id="name"
    name="goal[name]"
    value="<%= @goal.name %>">
  <br />

  Public? :<br/>
  <input type="radio"
    id="public_goal_true"
    name="goal[public_goal]"
    value="true">
  <label for="public_goal_true">True</lable>
  <br/>

  <input type="radio"
    id="public_goal_false"
    name="goal[public_goal]"
    value="false">
  <label for="public_goal_false">False</lable>
  <br/>

  <br/>
  <input type="checkbox"
    id="completed"
    name="goal[completed]"
    value="true">
  <label for="completed">Completed?</lable>
  <br/>

  <input type="submit" value="Update Goal">
</form>
